<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ice.shamim.programmingguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_circle_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu.Fragment.Event.EventGamePlay.EventGamePlay">

        </activity>
        <activity android:name=".MainMenu.Fragment.Course.LessonAndTest.LessonAndTestMain"></activity>
        <activity android:name=".splashScreen.Show_Splash_Screen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".userAuth.Login_options" />
        <activity
            android:name=".userAuth.Login"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".userAuth.SignUp" />
        <activity android:name=".userAuth.Uva_Connect.UVa_Connect">

        </activity>
        <activity android:name=".userAuth.Codeforces_Connect.Codeforces_Connect" />
        <activity android:name=".Menu.MenuChoice">


        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MainMenu.MainMenu">

        </activity>
        <activity android:name=".MainMenu.Navigation" />
        <activity android:name=".MainMenu.Fragment.Event.EventMenuItem">

        </activity>
        <activity android:name=".MainMenu.Fragment.Course.ProductAdapter" />
    </application>

</manifest>